# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.* 
!.env.example

# Uploads (tuỳ bạn)
backend/uploads/
uploads/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
